:root{
    --sidebar:#18383E;
    --header:#8baaaf;
    --content:#aaa;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Spectral SC', serif;
}

.grid{
    height:100vh;
    display:grid;
    grid-template-columns: minmax(250px,300px) minmax(500px,4fr);
    grid-template-rows: 120px auto;
}
.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--sidebar);
    display:grid;
    grid-template-rows: auto auto 3fr;
    gap:50px;
    
    padding:10px;
}


.header{
    grid-column:2/3;
    grid-row:1/2;
    background-color: var(--header);
    display:grid;
    grid-template-rows: 1fr 1fr;
}
.content{
    grid-column:2/3;
    grid-row:2/3;
    background-color: var(--content);
}
/*style dashboard logo*/
.dashboard{
    display:grid;
    grid-template-columns: 20% auto;
    align-items: center;
 
}
.dashboard p{
    font-size: 30px;
    color:white;
    text-align: center; 
}
svg{
   
    fill:white;
}
/*style of link sidebar*/
a{
    display:grid;
    grid-template-columns: 20% auto;
    align-items: center;
    height:40px;
   
    text-decoration: none;
    color:white;
    
}
a svg{
    width:50%;
    height:auto;
    justify-self: end;
}
a span{
    margin-left:25px;
    font-size: 18px;
}
a:hover{
    background-color: #2f6581;
    border-radius:10px;
    border-left:5px solid green;
}
/* style header*/
.upper{
    grid-row: 1/2;
    margin-left:20px;
    margin-right:20px;
}
.downer{
    display:grid;
    grid-row: 2/3;
    grid-template-columns: 2fr 1fr;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 10px;
    align-items: center;
}
.userinfo{
    display:grid;
    grid-template-columns:1fr 6fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
}

.buttons{
    grid-column: 2/3;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
}
.userinfo img{
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: aquamarine;
    width:60px;
    border-radius: 100%;
    justify-self: center;
    
}

.userinfo p:nth-of-type(1){
    align-self:end;
    font-size: 12px;
}
.userinfo p:nth-of-type(2){
    align-self:start;
    font-size: 20px;
    font-weight: bold;
}
button{
    height:25px;
    border-radius: 100px;
}

